<robot
  name="af">

  <link
    name="base_footprint">
    <visual>
      <origin
        xyz="0 0 0.2984495120400078"
        rpy="1.5707963267949 0 1.5707963267949" />
      <geometry>
        <mesh
          filename="package://af_bringup/meshes/base_footprint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>



  <link
    name="base_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 1.5707963267949" />
      <geometry>
        <mesh
          filename="package://af_bringup/meshes/base_footprint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_link_joint"
    type="fixed">
    <origin
      xyz="0 0 0.2984495120400078"
      rpy="0 0 0" />
    <parent
      link="base_footprint" />
    <child
      link="base_link" />
    <axis
      xyz="0 0 0" />
  </joint>

<!--        rpy="0 0 1.5707963267949" />-->
  <link
    name="laser">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 1.5707963267949" />
      <geometry>
        <mesh
          filename="package://af_bringup/meshes/laser.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.22 0 0.040"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser" />
    <axis
      xyz="0 0 0" />
  </joint>



  <link
    name="wheel1">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://af_bringup/meshes/wheel1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_wheel1"
    type="fixed">
    <origin
      xyz="0.36689 0.353838628838196 -0.0884495120400078"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel1" />
    <axis
      xyz="0 0 0" />
  </joint>



  <link
    name="wheel2">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://af_bringup/meshes/wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_wheel2"
    type="fixed">
    <origin
      xyz="-0.21311 0.353805715763312 -0.0884495120400076"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel2" />
    <axis
      xyz="0 0 0" />
  </joint>



  <link
    name="wheel3">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="-1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://af_bringup/meshes/wheel3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_wheel3"
    type="fixed">
    <origin
      xyz="0.36689 -0.356514177677096 -0.0884495120400078"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel3" />
    <axis
      xyz="0 0 0" />
  </joint>



  <link
    name="wheel4">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="-1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://af_bringup/meshes/wheel4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_wheel4"
    type="fixed">
    <origin
      xyz="-0.21311 -0.353805715763312 -0.0884495120400078"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel4" />
    <axis
      xyz="0 0 0" />
  </joint>



  <link
    name="Stereo">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 1.57 0" />
      <geometry>
        <mesh
          filename="package://af_bringup/meshes/camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_camera"
    type="fixed">
    <origin
      xyz="0.5 0 0.902"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Stereo" />
    <axis
      xyz="0 0 0" />
  </joint>

    <link
    name="range5">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.02 0.01"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_range5"
    type="fixed">
    <origin
      xyz="-0.525 0.264 0.0"
      rpy="0 0 3.1415926" />
    <parent
      link="base_link" />
    <child
      link="range5" />
    <axis
      xyz="0 0 0" />
  </joint>

    <link
    name="range6">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.02 0.01"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_range6"
    type="fixed">
    <origin
      xyz="-0.525 0.164 0.0"
      rpy="0 0 3.1415926" />
    <parent
      link="base_link" />
    <child
      link="range6" />
    <axis
      xyz="0 0 0" />
  </joint>
<link
    name="range7">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.02 0.01"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_range7"
    type="fixed">
    <origin
      xyz="-0.525 -0.164 0.0"
      rpy="0 0 3.1415926" />
    <parent
      link="base_link" />
    <child
      link="range7" />
    <axis
      xyz="0 0 0" />
  </joint>

    <link
    name="range8">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.02 0.01"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint
    name="base_range8"
    type="fixed">
    <origin
      xyz="-0.525 -0.264 0.0"
      rpy="0 0 3.1415926" />
    <parent
      link="base_link" />
    <child
      link="range8" />
    <axis
      xyz="0 0 0" />
  </joint>


</robot>
