<launch>
  <arg name="custom_param_file" default="$(find af_nav)/param/dummy.yaml"/>
  <include file="$(find af_nav)/launch/LMS1xx.launch">

    <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
         Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
  </include>

  <!-- Map server -->
  <arg name="map_file" default="$(find af_nav)/maps/xiaohuayuan.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find af_nav)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>


  <!-- original:move_base.launch.xml -->  <!-- teb:move_base_teb.launch.xml -->
  <include file="$(find af_nav)/launch/includes/move_base_teb.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

</launch>
